html, body, h1, h2, h3, h4, ul, ol, li, p, a, div, footer{
	padding: 0;
	border: 0;
	margin: 0;}
	
	#wraper {width: 100% ;
	
	margin: 0 auto;}
	
header {width: 100%;
height:100px;
background-color: gray;
}

header .logo img {float:right;
margin-top:30px;
margin-right:240px;}

.upUl ul {list-style-type: none;
margin-left: 240px;

}

.upUl ul li {display: inline;
margin-left:20px;
}

.upUl ul li a {text-decoration: none;
color: white;}




.bckPic1 { background-image: url("img/bck1.jpg");
width: 291px; 
height:354px;
float:left;


}

.bckPic2 { background-image: url("img/bck2.jpg");
width: 291px; 
height:354px;
float:left;
margin-left: 9px;
}

.bckpic3 { background-image: url("img/bck3.JPG");
width: 291px; 
height:354px;
float:left;
margin-left: 9px;
}


.container { width: 900px ;
margin: 0 auto;
}

.centerPage {margin-left: 9px;}

.clear-box {
	clear: both;
	overflow: hidden;
	height:30px;
}
